/* css reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
}
bady {
    font-size: 12px;
    font-family: "微软雅黑";
}
i {
    font-style: normal;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
input {
    outline: 0;
    resize: none;
    -webkit-appearance: none;
}
textarea{
    resize: none;
}

/* common css  */
/* statement font */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
          url('../fonts/icomoon.woff?7kkyc2') format('woff'),
          url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/* 版心样式，版心的宽度 */
.w {
    margin: 0 auto;
    width: 1190px;
}
/* 使用刚刚声明的字体的类样式 icommon 字体 */
.iconfont {
    font-family: 'icomoon';
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    /* vertical-align: middle; */
}

/* 浮动 */
.fl {
    float: left;
}
.fr {
    float: right;
}
/* 公共的快捷导航栏模块 */
.shortcut {
    height: 30px;
    font-size: 12px;
    color: #9d9d9d;
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #dddddd;
}
.shortcut a {
    font-size: 12px;
    color: #9d9d9d;
}
.shortcut ul li {
    float: left;
}
.shortcut .location {
    font-size: 14px;
    color: #f10215;
}