/* reset css */
* ,*:after,*:before {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: normal;
}
i, em {
    font-style: normal;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
input {
    outline: 0;
    border: 0;
}
textarea {
    resize: none;
}
button {
    outline: 0;
    border: 0;
    -webkit-appearance: none;
}
img {
    vertical-align: middle;
    border: none;
}
/* common css */
/* All page background color */
body {
    font: 12px/1.6 'Microsoft Yahei';
    background-color: #f6f6f6;
}
/* statement font family */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?s1xyct');
    src:  url('../fonts/icomoon.eot?s1xyct#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?s1xyct') format('truetype'),
      url('../fonts/icomoon.woff?s1xyct') format('woff'),
      url('../fonts/icomoon.svg?s1xyct#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/* 页面版心 */
.w {
    margin: 0 auto;
    width: 1190px;
}
/* icomoon font family style */
.iconfont {
    font-size: 14px;
    font-family: 'icomoon';
    text-align: center;
    font-style: normal;
}
/* 清除浮动的公共样式 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
/* 设置浮动的样式 */
.left {
    float: left;
}
.right {
    float: right;
}
