/* 首页顶部链接条 */
.J_event {
    height: 80px;
    background-color: #0e2163;
}
.advertising {
    position: relative;
}
.ad_picture {
    margin: 0 auto;
    display: block;
    height: 80px;
    background: url(../images/header.jpg) no-repeat left top;
}
.ad_hidden {
    position: absolute;
    right: -20px;
    top: 10px;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
}