/********reset*************/
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 14px;
    font-family: 'Microsoft Yahei', sans-serif;
    color:#333;
}
a{
    text-decoration: none;
    color: #333;

}
ul,ol{
    list-style: none;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}
/***common css******/
.f_left{
    float:left;
}
.f_right{
    float:right;
}
.clearFix::before,.clearFix::after{
    content:"";
    display:block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear:both;
}
[class^="icon_"],[class*=" icon_"]{
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
}